.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 50px;
  margin: auto;
  background-color: #11120d;
  color: #d5d2cb;
  font-family: "Raleway", Arial, sans-serif;
}

.main__card {
  width: 100%;
  background-color: transparent;
  padding: 0;
}

.main__title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Federo", Arial, sans-serif;
  font-size: 60px;
}

.main__subtitle {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 50px;
  font-size: 15px;
  font-weight: 500;
  color: #e75c16;
}

.main__filter-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.main__filter {
  width: 100%;
  color: #11120d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 7px 10px;
  margin: 0;
  border: none;
  border-radius: 6px;
  background: linear-gradient(250deg, #bebaaf, #ffffff);
  cursor: pointer;
  text-align: center;
}

.main__filter:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.main__filter-label {
  font-size: 10px;
  font-weight: 400;
  color: #a33215;
}

.main__filter-value {
  font-size: 12px;
  font-weight: 600;
}

.main__filter-item {
  position: relative;
  flex: 1;
  max-width: 250px;
}

.main__filter-options {
  position: absolute;
  margin-top: 5px;
  min-width: 100%;
  width: fit-content;
  max-height: 250px;
  overflow-y: auto;
  background: linear-gradient(
    135deg,
    rgba(54, 54, 54, 0.242),
    rgba(12, 12, 12, 0.147)
  );
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(154, 153, 153, 0.18);
  border-radius: 6px;
  padding: 5px 0;
  z-index: 10;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: #e75c16 transparent;
}

.main__filter-options::-webkit-scrollbar {
  width: 6px;
}

.main__filter-options::-webkit-scrollbar-track {
  background: transparent;
}

.main__filter-options::-webkit-scrollbar-thumb {
  background-color: #a33215;
  border-radius: 10px;
}

.main__filter-option {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
  font-size: 10px;
  font-weight: 400;
  color: #d5d2cb;
  cursor: pointer;
}

.main__filter-option:hover {
  font-size: 12px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.main__filter-overlay {
  position: fixed;
  inset: 0;
  z-index: 5;
  background: transparent;
  cursor: default;
}

.main__search {
  display: block;
  height: 30px;
  margin: 20px auto;
  padding: 0;
  border: none;
  border-radius: 10px;
  background-color: #e75c16;
  box-shadow: 0 0 10px #e75c16;
  transition: 0.3s ease-in-out;
  font-size: 25px;
  font-family: "Federo", Arial, sans-serif;
  color: #a33215;
  cursor: pointer;
  letter-spacing: 10px;
  width: 500px;
}

.main__search:hover {
  background-color: #ec7031;
  box-shadow: 0 0 15px #ec7031;
  transform: scale(1.01);
  transition: 0.2s ease-in-out;
}

.main__spinner-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(17, 18, 13, 0.803);
  z-index: 1000;
}

.main__spinner-loader {
  width: 140px;
  height: 140px;
  display: grid;
}

.main__spinner-loader::before,
.main__spinner-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #e75c16 92%, transparent);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}

.main__spinner-loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 18px 18px;
  animation-timing-function: linear;
  --c: radial-gradient(farthest-side, #d5d2cb 92%, transparent);
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}

.main__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #464645;
  padding: 70px;
}

.main__empty_type_warning {
  color: #e75c16;
  font-weight: 700;
}

.main__error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ee3465;
  font-size: 14px;
  font-weight: 500;
  padding: 20px;
  text-align: center;
}

.main__jobs {
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.main__pagination {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.main__pagination-button {
  color: #d5d2cb;
  padding: 8px 15px;
  background: linear-gradient(
    135deg,
    rgba(239, 239, 239, 0.052),
    rgba(12, 12, 12, 0.147)
  );
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 4px 0 rgba(107, 107, 107, 0.37);
  border: 1px solid rgba(154, 153, 153, 0.18);
  border-radius: 10px;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main {
    padding: 80px 20px;
    margin: auto;
    background-color: #11120d;
    color: #d5d2cb;
  }

  .main__jobs {
    gap: 20px;
  }
}

@media (max-width: 586px) {
  .main {
    padding: 80px 0px;
    margin: 0 10px;
    width: 100%;
  }

  .main__card {
    width: 70%;
  }

  .main__title {
    font-size: 50px;
  }

  .main__subtitle {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 25px;
    font-size: 13px;
  }

  .main__filter-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .main__filter {
    width: 100%;
  }

  .main__filter-item {
    width: 100%;
    max-width: 100%;
  }

  .main__filter-options {
    margin-top: 7px;
    background: linear-gradient(
      135deg,
      rgba(1, 1, 1, 0.449),
      rgba(12, 12, 12, 0.374)
    );

    border: rgba(73, 73, 73, 0.18);
    border-radius: 8px;
  }

  .main__search {
    width: 100%;
  }

  .main__jobs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
