.app {
  font-family: Raleway;
  background-color: #11120d;
  color: #d5d2cb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}
