.job-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background: linear-gradient(
    135deg,
    rgba(239, 239, 239, 0.052),
    rgba(12, 12, 12, 0.147)
  );
  backdrop-filter: blur(8px);
  box-shadow: 0 0 4px 0 rgba(107, 107, 107, 0.37);
  border: 1px solid rgba(154, 153, 153, 0.18);
  color: #e75c16;
  border-radius: 10px;
  font-family: "Raleway", Arial, sans-serif;
}

.job-card:hover {
  box-shadow: 0 4px 7px 0 rgba(215, 214, 214, 0.37);
  margin-top: -4px;
  transition: 0.2s ease-in-out;
}

.job-card__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.job-card__title {
  color: #d5d2cb;
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}

.job-card__title-link {
  text-decoration: none;
  color: inherit;
}

.job-card__title-link:hover .job-card__title {
  text-decoration: underline;
}

.job-card__meta {
  margin: 0;
  font-size: 10px;
}

.job-card__save {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.job-card__save-icon {
  width: 20px;
  height: 20px;
  display: block;
}
@media (max-width: 460px) {
}
