.header {
  margin: 30px 0 0;
  font-family: "Federo", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.header__logo {
  width: 60px;
  margin: 0 auto 0 0;
  padding-left: 50px;
}

.header__logo-first {
  width: 60px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.header__saved-jobs {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #e75c16;
  font-size: 12px;
  margin: 0 40px;
}

.header__link:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.header__user-block {
  display: flex;
  flex-direction: row;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

.header__logout {
  color: #e75c16;
  background-color: transparent;
  border: 0;
  font-size: 15px;
  font-weight: 400;
  margin-left: auto;
  cursor: pointer;
  width: 150px;
}

.header__logout:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.header__save-icon {
  width: 25px;
  padding-right: 60px;
  margin: 0;
  transition: 0.3s ease-in-out;
  background-color: transparent;
}

.header__save-icon:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

@media (max-width: 586px) {
  .header__logo {
    padding: 0 80px;
  }

  .header__save-icon {
    padding-right: 80px;
  }
}
